[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
flask = "*"
waitress = "*"
requests = "*"
win-unicode-console = "*"
gunicorn = "*"
certifi = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
pgcli = "*"
pylint-flask = "*"

[requires]
python_version = "2.7"
